body {
    background-color: #eceff1;
}


.class-body{
    margin-left: 2vh;
}

#ask-form {
    margin-top: 5vh;
}

#ask-button {
    margin-bottom: 2vh;
}

#navbar-hyperlink {
    color: whitesmoke;
}

